* {
  box-sizing: border-box;
  margin: 0;
}
.container {
  width: 100vw;
  display: flex;
}
.section {
  width: 100%;
  height: fit-content;
  padding-top: 500px;
  background-color: black;
  padding-bottom: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header {
  color: white;
  top: 500px;
  /* padding-bottom: 600px; */
  text-align: center;
}
.text {
  width: auto;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 100px;
}
button {
  width: 200px;
  height: 50px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  margin-left: 800px;
  background: #b43a63;
  background: linear-gradient(
    90deg,
    rgba(180, 58, 99, 1) 0%,
    rgba(253, 29, 29, 1) 47%,
    rgba(252, 176, 69, 1) 100%
  );
}
